@import "~bootstrap/scss/bootstrap";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card-block{
    position: relative;
    .count{
        width: 30px;
        height: 30px;
        border: 1.5px solid rgb(249, 119, 59);
        border-radius: 42px;
        box-shadow: 1px 2px 5px rgb(247, 90, 17);
        background-color: rgba(249, 131, 57, 0.884);
        color: white;
        font-size: 14px;
        font-weight: 500;
        position: absolute;
        bottom: 15px;
        right: 0;
    }
}
.wrapper {
    max-width: 1200px;
    margin: 16px auto;
    .filter-block {
        box-shadow: 1px 2px 10px 1px gray;
        height: 120vh;
        padding: 10px;
        .title{
            color: rgb(67, 108, 43);
        }
        .mb-5{
            border-bottom: 1px solid gray;
            padding-bottom: 20px;
        }
        .filter-list {
            aspect-ratio: 4/3;
            overflow-x: hidden;
            overflow-y: scroll;
            scroll-snap-type: y mandatory;
            .checkbox-line{
                .catolog_btn{
                    background: rgb(51,106,51) !important;
                    padding: 1px 6px;
                    color: white;
                }
                .btn{
                    background: rgb(51,80,106) !important;
                    padding: 1px 6px;
                    color: white;
                }
            }
        }
    }
    .products-block {
        box-shadow: 1px 2px 10px 1px gray;
        padding: 10px;
        .sort-products {
            padding: 0 10px;
        }
        .products-items {
            display: grid;
            grid-template-columns: repeat(3, 300px);
            .product-item {
                height: 380px;
                box-shadow: 1px 2px 10px 1px gray;
                margin: 10px;
                padding: 10px;
                .item-image {
                    box-shadow: 1px 2px 10px 1px gray;
                    img {
                        width: 250px;
                        height: 250px;
                    }
                }
                .item-title {
                    width: 100%;
                    .name-product {
                        font-size: 18px;
                        font-weight: 500;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                    }
                    .price-product {
                        font-size: 15px;
                        text-align: right;
                        padding-right: 5px;
                        margin-bottom: 0;
                    }
                }
                .item-button {
                    .btn {
                        width: 120px;
                    }
                }
            }
        }
    }
}
.footer{
    box-shadow: 1px 2px 10px 1px gray;
    position: relative;
    height: 50px;
    .link_rs-school{
        position: absolute;
        right: 32px;
        bottom: 10px;
    }
}
